<html>
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script>
	<script src="highcharts.js" type="text/javascript"></script>
</head>
<body>
  "Hello world, it's #{Time.now} at the wow!"
</body>
</html>